body{
    background-image: url('imagem-4k-futurista-de-inteligencia-artificial-ai_894067-1058.avif');
  
    width: 100%;
    color: white;


}



.titulo{

    text-align: center;
margin-top: 50px;


}

.frase{
    
    text-align: center;
    
    }

    .paragrafo{

        padding-top: 200px;



  }
